Sagrada.IdentityServer.Module/Service References/SagradaService/IdentityUserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IdentityUserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IIdentityUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1286/Services/Identity/IdentityUserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1286/Services/Identity/IdentityUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1286/Services/Identity/IdentityUserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sagrada.Web.Services.Identity" />
      <xsd:import schemaLocation="http://localhost:1286/Services/Identity/IdentityUserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIdentityUserService_GetCompanies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanies" />
  </wsdl:message>
  <wsdl:message name="IIdentityUserService_GetCompanies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompaniesResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentityUserService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IIdentityUserService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentityUserService_GetProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfiles" />
  </wsdl:message>
  <wsdl:message name="IIdentityUserService_GetProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="IIdentityUserService_GetLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguages" />
  </wsdl:message>
  <wsdl:message name="IIdentityUserService_GetLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IIdentityUserService">
    <wsdl:operation name="GetCompanies">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentityUserService/GetCompanies" message="tns:IIdentityUserService_GetCompanies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentityUserService/GetCompaniesResponse" message="tns:IIdentityUserService_GetCompanies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentityUserService/GetRoles" message="tns:IIdentityUserService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentityUserService/GetRolesResponse" message="tns:IIdentityUserService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentityUserService/GetProfiles" message="tns:IIdentityUserService_GetProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentityUserService/GetProfilesResponse" message="tns:IIdentityUserService_GetProfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <wsdl:input wsaw:Action="http://tempuri.org/IIdentityUserService/GetLanguages" message="tns:IIdentityUserService_GetLanguages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIdentityUserService/GetLanguagesResponse" message="tns:IIdentityUserService_GetLanguages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IIdentityUserService" type="tns:IIdentityUserService">
    <wsp:PolicyReference URI="#CustomBinding_IIdentityUserService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompanies">
      <soap12:operation soapAction="http://tempuri.org/IIdentityUserService/GetCompanies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap12:operation soapAction="http://tempuri.org/IIdentityUserService/GetRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfiles">
      <soap12:operation soapAction="http://tempuri.org/IIdentityUserService/GetProfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguages">
      <soap12:operation soapAction="http://tempuri.org/IIdentityUserService/GetLanguages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IdentityUserService">
    <wsdl:port name="CustomBinding_IIdentityUserService" binding="tns:CustomBinding_IIdentityUserService">
      <soap12:address location="http://localhost:1286/Services/Identity/IdentityUserService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1286/Services/Identity/IdentityUserService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>