Sagrada.IdentityServer.Module/Service References/SagradaService/IdentityUserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1286/Services/Identity/IdentityUserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sagrada.Web.Services.Identity" />
  <xs:import schemaLocation="http://localhost:1286/Services/Identity/IdentityUserService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sagrada.Web.Services.Identity" minOccurs="0" name="GetCompaniesResult" nillable="true" type="q1:ArrayOfIdentityCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRolesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sagrada.Web.Services.Identity" minOccurs="0" name="GetProfilesResult" nillable="true" type="q3:ArrayOfIdentityProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sagrada.Web.Services.Identity" minOccurs="0" name="GetLanguagesResult" nillable="true" type="q4:ArrayOfIdentityLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>